
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRATEGYCAT IS WELCOMING YOU</title>
    
</head>

<body>
     <center>
     <img src="{% static 'images/strategy-cat.gif' %}" alt="THE INFAMOUS STRATEGY CAT"/>
     <h1>WELCOME TO STRATEGYCAT PAGE </h1>
     <h3>USE FOR TESTING CI/CD </h3>
     </center> 

     
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.6.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>

</html>